@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: rgb(38, 24, 52);
    color: white;
    padding: 10px 20px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.gameContainer {
    /* background-color: red; */
    height: 30vw;
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    position: relative;
}

.box {
    border: 1.5px solid black;
    font-size: 8vw;
    text-align: center;
}

.box:hover {
    background-color: rgb(245, 232, 255);
    cursor: pointer;
}

.gameInfo {
    margin-left: 40px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.imgBox img {
    width: 0;
    transition: width 1s ease-in-out;
}

.bt {
    border-top: 0;
}

.bl {
    border-left: 0;
}

.bb {
    border-bottom: 0;
}

.br {
    border-right: 0;
}

#reset {
    background-color: rgb(218, 178, 255);
    padding: 5px 20px;
    margin: 10px 20px;
    border-radius: 4px;
    cursor: pointer;

}

.info {
    font-size: 30px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}


.line{
    background-color: rgb(180, 105, 171);
    height: 7px;
    width: 0;
    position: absolute;
    transition:  width 1s ease-in-out;
    border-radius: 4px;
}

@media screen and (max-width: 800px) {
    .gameContainer {
        flex-wrap: wrap;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 30vw);
        grid-template-rows: repeat(3, 30vw);
        position: relative;

    }
    .gameInfo{
        margin-top: 50px;
    }

    .box {
        border: 1.5px solid black;
        font-size: 20vw;
        text-align: center;
    }

   
}